.navi {
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
#home img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 100px;
}
#home h1 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
#home p {
    font-size: 1.2em;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4;
}
#about-me h2 {
    font-weight: 600;
}
#about-me p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}
#projects {
    width: 500px;
    background-color: white;
    border: 2px burlywood
    border-radius: 20px;
}
    #projects img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        display: block;
    }
#projects h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #222;
    padding-top: 0;
}
#project p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin: 0;
    margin-top: 0;
}
#form-group {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    flex-wrap: wrap;
}
#contact-me button {
    color: aqua;
}
.foot {
    background-color: bisque;
    text-align: center;
    margin-top: 3em;

}